* {
    margin: 0;
    font-family: 'Work Sans','FontAwesome' ;
}

header {
    background-image: url(images/banner/banner3.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
}

.header-content {
    text-align: right;
    padding-top: 300px;
    padding-right: 80px;
    padding-left: 20px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header-description {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;

}

.btn {

    font-weight: 600;
    font-size: 18px;
    color: #005FAC;
    padding: 10px 12px;
    border: 0;
    border-radius: 5px;
}

/* failures section */
.failures {
    display: flex;
    align-items: center;
    gap: 30px;
}

.failures img {
    height: 400px;
    padding: 80px 150px;
}

.failures-content h3 {
    font-weight: 800;
    font-size: 35px;
    line-height: 37px;
    color: #151414;
    margin-bottom: 24px;
}

.failures-content .failures-description {
    font-weight: 300px;
    font-size: 12px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 10px;
}

.failures-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* plane section */

.plane {
    text-align: center;
}

.plane h3 {
    font-size: 30px;
    font-weight: 700px;
}

.plane-conteiner {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.plane-conteiner .plane-item {
    padding: 30px 70px;
}

.plane-item img {
    margin-bottom: 15px;
}

.plane-item .item-title {
    font-size: 18px;
    font-weight: 900px;
    margin-bottom: 10px;
    color: #151414;
}

.plane-item .item-description {
    font-weight: 500;
    font-size: 17px;
    color: #737272;
}

/* gradient section */

.grad {
    width: 90%;
    height: 250px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('images/watch.png');
    margin: 40px auto;
}

.grad h2 {
    padding-top: 50px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #FFFFFF;
}

.grad button {
    margin-left: 40px;
    margin-top: 15px;
}

/* extra section */

.extra{
    padding: 40px 100px;
    margin-left: 20px;
    text-align: center;
    margin-top: 30px;
}
.extra-title{
    font-size: 25px;
    font-weight: 800px;
    margin-bottom: 10px;
}
.extra-description{
    font-size: 14px;
}
.extra-content{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 15px;
}
.extra-content .extra-item{
    text-align: left;
    background-color: antiquewhite ;
    padding: 40px 20px;
    border-radius: 5px;
    border: none;
}

.extra-item h4{
    font-weight: 900px;
    font-size: 20px;
    margin-bottom: 15px;
}
.extra-item p{
    font-size: 14px;
}
.extra-content .extra-extra{
    background-color: rgb(219, 204, 182);
}
.extra-content .extra-extra1{
    background-color: rgb(198, 198, 171);
}

/* fotter section */

.footer-section {
    display: flex;
    width: 100%;
    height: 350px;
    background: #151414;
    margin-top: 40px;
}

.left-item {
    padding-top: 60px;
    padding-left: 30px;
}

.left-item h2 {
    font-weight: 700;
    font-size: 30px;
    color: #F8F8F8;
    margin-bottom: 15px;
}

.left-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #FFFFFF;
}
.social-img{
    display: flex;
    gap: 15px;
}
.social-img img{
    width: 30px;
    height: 30px;
}
.right-item{
    padding-top: 60px;
    margin-left: 300px;
}
.right-item h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.right-item input{
    padding: 10px 35px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 3px;
    
}
.right-item button{
    font-weight: 600;
    font-size: 13px;
    background-color: #005FAC;
    padding: 10px 14px;
    border: 0;
    color:  #FFFFFF;
    border-radius: 3px;
}
.fa-thin {
    color:rgb(8, 137, 137);
    font-family:'FontAwesome' ;
    
}